/QT/build-FxVideoPlayer-Qt_6_6_2_6_6_2_1_temporary-Debug
/QT/build-FxVideoPlayer-Desktop_arm_darwin_generic_mach_o_64bit-Debug
/QT/bin64
/QT/FxVideoPlayer/build-FxVideoPlayer-Qt_6_6_2_6_6_2_1_temporary-Debug
QT/build-FxVideoPlayer-Desktop_arm_darwin_generic_mach_o_64bit-Debug/